# Logs
Frontend/React/logs
Frontend/React/*.log
Frontend/React/npm-debug.log*
Frontend/React/yarn-debug.log*
Frontend/React/yarn-error.log*
Frontend/React/pnpm-debug.log*
Frontend/React/lerna-debug.log*

Frontend/React/node_modules
Frontend/React/dist
Frontend/React/dist-ssr
Frontend/React/*.local

# Editor directories and files
Frontend/React/.vscode/*
Frontend/React/!.vscode/extensions.json
Frontend/React/.idea
Frontend/React/.DS_Store
Frontend/React/*.suo
Frontend/React/*.ntvs*
Frontend/React/*.njsproj
Frontend/React/*.sln
Frontend/React/*.sw?
